/* Посилайтеся на "indext.html" */
:root {
    --Color-text-text: #303030;
    --Color-bg: #F1F1F1;
    --Color-border-border: #E3E3E3;
    --Color-bg-table-header: #FFFFFF;
    --Color-border-header: #E0E0E0;
    --Height-table-row: 44px;
    --Font-table: 14px;
}

body {
    background-color: var(--Color-bg);
    font-family: 'Inter', sans-serif;
    padding: 20px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    margin-bottom: 20px;
}

.table_1, .table_2 {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.table_1 th {
    padding: 12px;
    background-color: var(--Color-bg-table-header);
    font-size: var(--Font-table);
    font-weight: 500;
    text-align: left;
    border-bottom: 2px solid var(--Color-border-header);
}

.table_2 td {
    padding: 15px;
    border-bottom: 1px solid var(--Color-border-border);
    background-color: var(--Color-bg-table-header);
    
}

.table_2 .status{
    color: var(--Color-text-text);
    text-align: left;

}

.delete-icon img {
    width: 20px;
    height: 20px;
}
.status_div_active {
    padding: 2px 30px;
    border-radius: 40px;
    background-color: #c8f7c5;
    color: green;
    width: 100px;
}
.status_div_draft{
    padding: 2px 30px;
    border-radius: 40px;
    background-color: #f4f4f4;
    color: #777;
    width: 100px;
}